# Server Configuration
SERVER_PORT=8080

# Database Configuration
DB_URL=jdbc:oracle:thin:@localhost:1521:xe
DB_USERNAME=your_username
DB_PASSWORD=your_password

# API Documentation (Swagger)
APP_TITLE=BIST Mini Project API
APP_DESCRIPTION=BIST Mini 프로젝트 1기 백엔드 API 명세서입니다.
APP_VERSION=1.0.0
