<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bist.mini.attachment.dao.AttachmentDao">

    <insert id="insert" parameterType="com.bist.mini.attachment.entity.Attachment" useGeneratedKeys="true" keyProperty="attachment_id" keyColumn="attachment_id">
        INSERT INTO attachments (
            post_id, original_name, file_size, file_type, extension, upload_type,
            file_data, download_count, is_deleted, created_at
        ) VALUES (
            #{post_id}, #{original_name}, #{file_size}, #{file_type}, #{extension}, #{upload_type},
            #{file_data, jdbcType=BLOB}, #{download_count}, #{is_deleted}, SYSDATE
        )
    </insert>

    <select id="findByIds" resultType="com.bist.mini.attachment.entity.Attachment">
        SELECT
            attachment_id, post_id, original_name, file_size, file_type, extension, upload_type,
            file_data, download_count, is_deleted, created_at, deleted_at
        FROM attachments
        WHERE attachment_id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND is_deleted = 'N'
    </select>

    <select id="findActiveByPostId" resultType="com.bist.mini.attachment.entity.Attachment">
        SELECT
            attachment_id, post_id, original_name, file_size, file_type, extension, upload_type,
            file_data, download_count, is_deleted, created_at, deleted_at
        FROM attachments
        WHERE post_id = #{postId}
          AND is_deleted = 'N'
    </select>

    <update id="bindToPost">
        UPDATE attachments
        SET post_id = #{postId}
        WHERE attachment_id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND is_deleted = 'N'
    </update>

    <update id="softDeleteByIds">
        UPDATE attachments
        SET is_deleted = 'Y',
            deleted_at = SYSDATE
        WHERE attachment_id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND is_deleted = 'N'
    </update>

    <select id="selectAttachmentById" resultType="com.bist.mini.attachment.entity.Attachment">
        SELECT
        attachment_id,
        post_id,
        original_name,
        file_size,
        file_type,
        extension,
        upload_type,
        file_data,
        download_count,
        is_deleted,
        created_at,
        deleted_at
        FROM attachments
        WHERE attachment_id = #{attachmentId}
        AND is_deleted = 'N'
    </select>
</mapper>