<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bist.mini.member.dao.MemberDao">

    <select id="selectByLoginId" parameterType="string" resultType="Member">
        SELECT
            member_id, login_id, password, email, nickname, bio, profile_image, status, created_at, updated_at, deleted_at
        FROM members
        WHERE login_id = #{loginId}
        AND status = 'ACTIVE'
    </select>

    <select id="countByLoginId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM members
        WHERE login_id = #{loginId}
    </select>

    <select id="countByEmail" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM members
        WHERE email = #{email}
    </select>

    <select id="countByNickname" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM members
        WHERE nickname = #{nickname}
    </select>

    <insert id="insertMember" parameterType="com.bist.mini.member.dto.JoinRequestDto">
        INSERT INTO members (
        login_id, password, email,nickname,bio, status, created_at
        ) VALUES (
        #{loginId}, #{password}, #{email}, #{nickname}, #{bio}, 'ACTIVE', SYSDATE
        )
    </insert>

</mapper>